body {
  background-color: #f2f7ff;
}

.sidebar-wrapper .sidebar-header {
  padding-bottom: 0;
}

.sidebar-wrapper .sidebar-header img {
  height: auto;
  width: 200px;
}

form {
  display: inherit;
}