{% extends "layout.jinja.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/util.css">
{% endblock %}

{% block title %}ShotHub{% endblock %}

{% block body %}
<Header>
  <h1>Welcome to ShotHub</h1>
</Header>

<div class="ShotHubLogo">
  <img src="../static/assets/images/logo/ShotHublogo.png" alt="logo">
</div>

<section>
  <h2>What is ShotHub?</h2>
  <p>
    We are a ____________________
  </p>
</section>

<footer>
  <p>
   
  </p>
</footer>
<!-- <div class="container">
    <div class="row">
      <div class="col-12">
        Welcome to ShotHub, this is Aarifa
      </div>
    </div>
  </div> -->
{% endblock %}